@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  font-family: inherit;
}

.roboto {
  font-family: '__Roboto_68d44c', '__Roboto_cd16c7';
}

.alata {
  font-family: '__Alata_1504e9';
}

.btn-gradient {
  background: rgb(164, 119, 1);
  background: linear-gradient(
    90deg,
    rgba(164, 119, 1, 1) 0%,
    rgba(218, 158, 0, 1) 25%,
    rgba(255, 184, 0, 1) 50%,
    rgba(164, 119, 1, 1) 75%,
    rgba(122, 88, 0, 1) 100%
  );
}
