@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  font-family: inherit;
}

.playfair-display {
  font-family: var(--font-playfair-display);
}

.roboto {
  font-family: var(--font-roboto);
}

.alata {
  font-family: var(--font-alata);
}

.btn-gradient {
  background: rgb(164, 119, 1);
  background: linear-gradient(
    90deg,
    rgba(164, 119, 1, 1) 0%,
    rgba(218, 158, 0, 1) 25%,
    rgba(255, 184, 0, 1) 50%,
    rgba(164, 119, 1, 1) 75%,
    rgba(122, 88, 0, 1) 100%
  );
}
